.header {
  font-family: Roboto, Arial;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 0;
  border-bottom: 1px solid rgb(217, 217, 217);
  z-index: 300;
}

.left-section {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0;
  width: 200px;
}

.menu-logo-tooltip {
  position: absolute;
  height: 30px;
}

.tooltip-1 {
  position: relative;
  top: 10px;
  left: 15px;
  font-size: 14px;
  color: rgb(117, 117, 117);
  background-color: rgba(237, 237, 237, 0.9);
  margin-top: 0;
  border-radius: 3px;
  padding: 2px 16px;
  text-align: center;
  opacity: 0;
  z-index: 30;
  pointer-events: none;
}

.menu-lines {
  height: 30px;
  margin-right: 10px;
  margin-left: 20px;
  margin-bottom: 0;
  cursor: pointer;
}

.menu-logo-tooltip:hover .tooltip-1 {
  opacity: 1;
}

.bakery-logo {
  height: 80px;
  position: relative;
  left: 65px;
}

.middle-section {
  width: 1000px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search-bar {
  background-color: rgb(240, 238, 238);
  height: 29px;
  width: 500px;
  border-left: 1px solid lightgray;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-right: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: inset 1px 2px 3px rgb(0, 0, 0, 0.05);
}

.search-bar::placeholder {
  font-size: 13.5px;
  font-family: Arial;
  padding-left: 10px;
}

.search-button {
  position: absolute;
  left: 1009.5px;
  display: flex;
  align-items: center;
  background-color: rgb(240, 238, 238);
  height: 33px;
  width: 40px;
  margin: 0;
  margin-left: 0px;
  border-right: 1px solid lightgray;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: none;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  white-space: nowrap;
  transition: opacity 0.05s;
  cursor: pointer;
}

.search-button:active {
  opacity: 0.7;
}

.tooltip-2 {
  position: relative;
  top: 40px;
  left: -40px;
  font-size: 14px;
  color: rgb(117, 117, 117);
  background-color: rgba(237, 237, 237, 0.9);
  margin-top: 0;
  border-radius: 3px;
  padding: 2px 16px;
  text-align: center;
  opacity: 0;
  z-index: 30;
  pointer-events: none; 
}

.search-button:hover .tooltip-2 {
  opacity: 1;
}

.search-icon {
  height: 22px;
  border: none;
  display: flex;
  align-items: center;
  margin-left: 3px;
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  padding-left: 10px;
}

.cart-tooltip .tooltip-3, .recipe-tooltip .tooltip-3, .user-tooltip .tooltip-3 {
  position: relative;
  top: 43px;
  right: 30px;
  padding-top: 3px;
  padding: 3px 10px;
  font-size: 14px;
  color: rgb(117, 117, 117);
  background-color: rgba(237, 237, 237, 0.9);
  border-radius: 3px;
  text-align: center;
  opacity: 0;
  z-index: 30;
  pointer-events: none;
  white-space: nowrap;
}

.cart-tooltip:hover .tooltip-3, .recipe-tooltip:hover .tooltip-3, .user-tooltip:hover .tooltip-3 {
  opacity: 1;
}

.cart-tooltip, .recipe-tooltip, .user-tooltip {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
} 

.cart-icon {
  height: 28px;
  margin-right: 0;
}

.recipe-logo {
  height: 38px;
  margin-right: -40px;
  margin-left: -10px;
}

.user-profile-image {
  height: 38px;
  margin-right: -70px;
}