.image-box-1 { 
  display: flex;
  justify-content: center;
  position: absolute;
  top: 81px;
  left: 0;
  right: 0;
  height: 800px;
  width: 100%;
}

.inside-box-1 {
  font-family: Georgia;
  color: white;
  position: relative;
  top: 150px;
  left: 495px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 500px;
}

.inside-line-1 {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 10px;
}

.inside-line-2 {
  font-weight: 700;
  margin-top: 0;
  font-size: 80px;
  white-space: nowrap;
  margin-bottom: 20px;
}

.inside-line-3 {
  font-family: Georgia;
  font-weight: 400;
  font-size: 19px;
  text-align: center;
  margin-bottom: 40px;
}

.inside-button {
  font-weight: 400;
  font-size: 16px;
  background-color: rgb(254, 205, 28);
  color: white;
  border: none;
  padding: 14px 26px;
  border-radius: 30px;
  transition: background-color 0.15s, opacity 0.05s;
  cursor: pointer;
}

.inside-button:hover {
  background-color: rgb(249, 169, 41);
}

.inside-button:active {
  opacity: 0.5;
}

.outside-box-2 {
  position: absolute;
  top: 886px;
  left: 0;
  right: 0;
  height: 590px;
}

.box-1 {
  position: relative;
  top: 50px;
}

.box-1-line-1, .box-1-line-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia;
}

.box-1-line-1 {
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 18px;
}

.box-1-line-2 {
  font-weight: 700;
  font-size: 50px;
  margin-top: 0;
}

.box-2 {
  width: 50%;
  position: relative;
  top: 60px;
  left: 400px;
  right: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 50px;
}

.inside-boxes-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100px;
  width: 200px;
}

.inside-boxes-2 .inside-boxes-images {
  background-color: lightblue;
  padding: 8px;
  object-fit: contain;
  height: 60px;
  width: 60px;
  border-radius: 38px;
}

.inside-boxes-2 .inside-boxes-text {
  font-weight: normal;
  font-size: 20px;
  font-family: Montserrat;
  
}

.box-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 105px;
}

.outside-box-3 {
  background-color: #a5bba9;
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: space-around;
  top: 1481px;
  left: 0px;
  right: 0px;
  padding: 5px;
  height: 520px;
  width: 100;
}

.o3-box-1 {
  height: 470px;
  width: 600px;
  padding: 20px;
}

.outside-box-3 .o3-box-2-image {
  height: 490px;
}

.o3-box-1-text-1, .o3-box-1-text-2, .o3-box-1-text-3 {
  font-family: Montserrat;
  text-align: left;
  color: white;
}

.o3-box-1-text-1 {
  font-size: 22px;
  margin-bottom: 12px;
}

.o3-box-1-text-2 {
  font-size: 40px;
  font-weight: 500;
  margin-top: 0;
}

.o3-box-1-text-3 {
  margin-bottom: 30px;
  font-size: 18px;
}

.o3-box-1-button {
  margin-top: 0;
  font-weight: 400;
  font-size: 16px;
  background-color: rgb(254, 205, 28);
  color: white;
  border: none;
  padding: 14px 26px;
  border-radius: 30px;
  transition: background-color 0.15s, opacity 0.05s;
  cursor: pointer;
}

.o3-box-1-button:hover {
  background-color: rgb(249, 169, 41);
}

.o3-box-1-button:active {
  opacity: 0.5;
}

.outside-box-4 {
  background-color: #f1c50e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2011px;
  left: 0;
  right: 0;
  height: 220px;
}
 .o4-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 45px;
  color: white;
  margin-top: 0;
 } 

.o4-button {
  font-size: 25px;
  background-color: rgb(240, 234, 215);
  border: none;
  padding: 15px 40px;
  border-radius: 28px;
  transition: background-color 0.15s, opacity 0.05s;
  cursor: pointer;
}

.o4-button:hover {
  background-color: rgb(206, 203, 194);
}

.o4-button:active {
  opacity: 0.5;
}
.outside-box-5 {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 2232px;
  left: 0;
  right: 0;
  height: 880px;
}

.o5-above-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 50px;
  width: 600px;
  height: 180px;
  text-align: center;
}

.o5-above-text-1 {
  font-weight: 700;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 25px;
}

.o5-above-text-2{
  margin-top: 0;
  font-size: 20px;
  font-weight: 500;
}

.o5-below-grid {
  padding: 5px;
  position: relative; 
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  top: 90px;
  width: 1200px;
  height: 560x;
}

.grid-box-1 {
  height: 250px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  background-color: #f3f8f4;
  border-radius: 6px;
}

.o5-grid-image-1 {
  margin: 20px;
  height: 200px;
  width: 200px;
  object-fit: contain;
}

.grid-box-1-text {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.grid-box-1-text-1 {
  font-weight: 500;
  font-family: Montserrat;
  font-size: 20px;
  margin-bottom: 10px;
}

.grid-box-1-text-2 {
  font-family: Montserrat;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 22px;
}

.grid-box-1-text-3 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 20px;
}

.grid-box-1-button-1, .grid-box-1-button-2, .grid-box-1-button-4 {
  border: none;
  padding: 12px 26px;
  color: white;
  background-color: #a5bba9;
  font-size: 16px;
  border-radius: 20px;
  width: 40%;
  transition: background-color 0.15s, opacity 0.05s;
  cursor: pointer;
}

.grid-box-1-button-1:hover, .grid-box-1-button-2:hover, .grid-box-1-button-4:hover {
  background-color: rgba(155, 203, 255, 0.812);
}

.grid-box-1-button-1:active, .grid-box-1-button-2:active, .grid-box-1-button-4:active {
  opacity: 0.6;
}

.grid-box-1-button-3 {
  border: none;
  width: 42%;
  padding: 12px 26px;
  color: white;
  font-size: 16px;
  background-color: #a5bba9;
  border-radius: 20px;
  white-space: nowrap;
  margin-top: 22px;
  transition: background-color 0.15s, opacity 0.05s;
  cursor: pointer;
}

.grid-box-1-button-3:hover {
  background-color: rgba(155, 203, 255, 0.812);
}

.grid-box-1-button-3:active {
  opacity: 0.6;
}

.outside-box-6 {
  background-color: #a5bba9;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
  position: absolute;
  top: 3114px;
  left: 0;
  right: 0;
  height: 500px;
}

.o6-box-1-image {
  height: 500px;
}

.o6-box-2 {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 10px;
  width: 600px;
}

.o6-box-1-text-3 {
  font-family: Montserrat;
  text-align: left;
  color: white;
  text-align: right;
  font-size: 18px;
  margin-bottom: 50px;
}



